@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Playfair Display", serif;
}

html {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  background: #ffffff;
  /* padding: 1em 2em; */
  width: 1800px;
  margin: 0 auto;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

/* nav{
    width: 1800px;
}

.nav-btns{
    display: flex;
    gap: 1rem;
    margin-left: 3.5rem;
} */

/* .logo{
    display: flex;
    align-items: center;
} */

.spoon {
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 900;
  color: #1c4648;
}

/* .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    padding: 0.5em 1em;
}

.nav-links .reservation {
    background: #3d5a80;
    color: #fff;
}

.nav-links .order-online {
    background: #ee6c4d;
    color: #fff;
} */

nav {
  height: 6rem;
  width: 100vw;
  background-color: transparent;
  display: flex;
  /* justify-content: center; */
  z-index: 10;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
  margin-left: 5rem;
}
/* .logo img {
    height: 4rem;
    width: 4rem;
} */

.banner-title{
  font-size: 90px !important;
  text-align: start;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: flex-end;
  margin-right: 10rem;
  align-items: center;
  text-transform: uppercase;
  gap: 2rem;
}
.nav-links li a {
  text-decoration: none;
  color: #131418;
  font-weight: bold;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  color: #61dafb;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61dafb;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before {
  width: 80%;
}

/*Styling Buttons*/
.reservation-button {
  background-color: #1c4648;
  color: #dff09d;
  border: 2px solid #1c4648;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}
.reservation-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.order-button {
  color: #131418;
  background-color: transparent;
  border: 2px solid #1c4648;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.order-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #1c4648;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  font-size: 1rem;
  color: #dff09d;
  text-decoration: none;
}

ul li {
  padding: 5px;
}

.mobile-menu {
  margin-top: 2rem;
  background-color: #1c4648;
  z-index: 9999;
}

.mobile-menu li {
  margin-top: 3rem;
  margin-bottom: 10px;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #1c4648;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    z-index: 3;
  }

  .banner-header{
    height: 100vh;
  }


  .banner-title{
    text-align: center !important;
    font-size: 3rem !important;
  }

  .banner-img img, .banner-img div{
    display: none;
  }

  .mobile-menu {
    margin: 0 !important;
  }

  .services p {
    margin-left: 0 !important;
  }

  .services h1{
    margin: 0 !important;
  }

  .main-btn{
    margin: 0 !important;
  }

  .logo {
    margin-left: 0;
  }

  #hamburger-icon {
    display: block;
    margin-right: 2rem;
  }

  ul {
    padding-left: 0 !important;
  }

  .mobile-menu div {
    display: flex;
    flex-direction: column;
  }

  .reservation-button {
    border: 2px solid black;
    text-wrap: nowrap;
    margin-left: 0;
    background-color: white;
    color: #295e62;
    font-weight: bold;
  }

  .order-button{
    text-wrap: nowrap;
    width: 165px;
    border: 2px solid black;
    background-color: white;
    color: #295e62;
    font-weight: bold;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.reservation-btn {
  background-color: transparent;
}

.reservation-btn:hover {
  background-color: #295e62;
  border-color: none;
  color: #dff09d;
}

.order-btn,
.learnmore-btn {
  background-color: transparent;
  color: #295e62;
  border: 3px solid #295e62;
}

.order-btn:hover {
  background-color: #295e62;
  border-color: none;
  color: #dff09d;
}

.order-btn-active {
  background-color: #295e62;
  width: 134px;
  color: #dff09d;
  padding: 1rem;
  margin-left: 5rem;
}

.banner-title,
.main-title {
  margin-left: 5rem;
}

.main-btn {
  margin-left: 5rem;
}

.reservation-btn.active,
.view-btn,
.order-btn.active {
  background-color: #295e62;
  color: #dff09d;
  border-color: transparent;
}

.hero {
  /* background: url('your-image-path.jpg') no-repeat center center;
    background-size: cover; */
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4em 1em;
}

.hero h1 {
  color: #1c4648;
  font-size: 4em;
  margin-bottom: 0.5em;
}

section .left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f1f2f6;
  padding: 1em;
}

.btn {
  display: inline-block;
  padding: 0.8em 1.5em;
  background: #ee6c4d;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2em;
  transition: background-color 0.3s;
  width: 136px;
}

.btn:hover {
  background: #3d5a80;
}

.about {
  padding: 2em;
  text-align: center;
}

.about h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 1em;
}

.about p {
  color: #666;
  line-height: 1.6;
}

.cta-buttons {
  margin-top: 2em;
}

footer {
  background: #1c4648;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assets/img/cta.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
}

.container-fluid {
  height: 100% !important;
}

.left-btn, .right-btn{
  background-color: transparent;
  border: 2px solid #295e62;
  color: #295e62;
  font-size: 20px;
  font-weight: bolder;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1024px){
  .img-1{
    height: 150px !important;
    width: 100% !important;
  }
  .img-2{
    height: 150px !important;
    width: 100% !important;
  }
  .img-3{
    height: 200px !important;
    width: 100% !important;
  }

  .featured-div {
    padding: 0 !important;
  }

 #img-3-btn {
    width: 40px !important;
    height: 40px !important;
  }

  .featured-div button{
    width: 40px !important;
    height: 40px !important;
  }
}

@media screen and (max-width: 768px) {
  header,
  nav {
    width: 100%;
    padding: 0;
  }

  .banner-title,
  .main-title,
  .main-btn {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .hero h1 {
    font-size: 2em; /* Adjust font size */
  }

  .navbar-nav {
    flex-direction: column;
    gap: 0;
  }

  .nav-btns {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .order-btn-active,
  .btn {
    width: auto; /* Make button widths flexible */
    margin: 0 auto; /* Center buttons */
  }

  .hero,
  .section {
    padding: 2em 1em;
  }

  .row > div,
  .container d-flex gap-5 {
    flex-direction: column;
  }

  .right,
  .left {
    margin-top: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .testimonial-img{
    max-width: 100%;
    height: 400px !important;
  }

  .services-img{
    max-width: 100%;
    height: 400px !important;
  }

  .featured-img{
    max-width: 100%;
    height: 150px !important;
  }

  .featured-div{
    padding: 0 !important;
    flex-wrap: wrap;
  }

  .featured-imgdiv{
    flex-wrap: wrap;
    padding: 0 !important;
  }

  .featured-imgdiv div{
    padding: 0 !important;
  }

  .img-1{
    height: 350px !important;
    width: 100% !important;
  }
  .img-2{
    height: 350px !important;
    width: 100% !important;
  }
  .img-3{
    height: 350px !important;
    width: 100% !important;
  }
}

.container .row {
  width: 100%;
  margin: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 3rem;
}

.card {
  border: none !important;
}

.cta-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assets/img/cta-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
}
